In [2]:
import pandas as pd

In [3]:
customers = pd.read_csv("AWCustomers.csv")

In [4]:
customers.head(20)

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06
5,22092,NaN,Andrea,NaN,Young,NaN,9384 Ashmount Way,NaN,Tacoma,Washington,...,High School,Skilled Manual,F,M,1,2,2,2,61944,2017-03-06
6,11229,NaN,Adrian,C,Stewart,NaN,6898 Shaw Rd.,NaN,Redwood City,California,...,Partial College,Manual,M,S,1,1,0,0,34919,2017-03-06
7,24179,NaN,Robyn,R,Blanco,NaN,6270 Pinecreek Way,NaN,Lavender Bay,New South Wales,...,Partial College,Skilled Manual,F,M,0,1,0,0,61832,2017-03-06
8,12127,NaN,Grace,NaN,Davis,NaN,"8188, rue Lamarck",NaN,Dunkerque,Nord,...,Partial College,Clerical,F,M,1,0,0,2,83834,2017-03-06
9,19903,NaN,Marcus,N,Nelson,NaN,"5, rue des Bouchers",NaN,Metz,Moselle,...,High School,Manual,M,S,0,1,0,0,26880,2017-03-06
10,25924,NaN,Hannah,NaN,Robinson,NaN,536 Beech Ct.,NaN,Redwood City,California,...,Partial College,Clerical,F,S,0,1,0,0,77258,2017-03-06
11,23033,NaN,Alex,J,Turner,NaN,9973 Mcnutt Ave,NaN,Lakewood,California,...,Bachelors,Management,M,M,1,3,0,0,102698,2017-03-06
12,20029,NaN,Jan,M,Evans,NaN,7787 Olive St.,NaN,Los Angeles,California,...,Bachelors,Management,F,M,1,1,1,2,108198,2017-03-06
13,22031,NaN,Jorge,NaN,Cai,NaN,7952 Quartermaster,NaN,Wollongong,New South Wales,...,Bachelors,Professional,M,M,1,2,0,2,133762,2017-03-06
14,23770,NaN,Jamie,NaN,Carlson,NaN,8191 Scenic Ct.,NaN,Maidenhead,England,...,Partial High School,Manual,M,S,0,1,0,0,30526,2017-03-07
15,23770,NaN,Jamie,NaN,Carlson,NaN,8191 Scenic Ct.,NaN,Maidenhead,England,...,Partial High School,Manual,M,S,0,1,0,0,30526,2017-03-06
16,23737,NaN,Elena,NaN,Velez Amezaga,NaN,9613 Camino Royale,NaN,Beverly Hills,California,...,Partial College,Skilled Manual,F,M,1,2,0,2,56353,2017-03-06
17,17127,NaN,Makayla,A,Gray,NaN,9442 Lacanda,NaN,Puyallup,Washington,...,High School,Clerical,F,S,1,3,1,1,79019,2017-03-06
18,28130,NaN,Joshua,M,Taylor,NaN,1145 Paraiso Ct.,NaN,Langley,British Columbia,...,Partial College,Skilled Manual,M,S,0,2,0,0,55387,2017-03-06
19,28455,NaN,Raymond,E,Sara,NaN,Zollstr 68,Verkaufsabteilung,Darmstadt,Hessen,...,Bachelors,Management,M,M,1,2,0,2,113276,2017-03-06

In [5]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   Title                 101 non-null    object
 2   FirstName             18361 non-null  object
 3   MiddleName            10572 non-null  object
 4   LastName              18361 non-null  object
 5   Suffix                3 non-null      object
 6   AddressLine1          18361 non-null  object
 7   AddressLine2          311 non-null    object
 8   City                  18361 non-null  object
 9   StateProvinceName     18361 non-null  object
 10  CountryRegionName     18361 non-null  object
 11  PostalCode            18361 non-null  object
 12  PhoneNumber           18361 non-null  object
 13  BirthDate             18361 non-null  object
 14  Education             18361 non-null  object
 15  Occupation            18361 non-null  object
 16  Gender                18361 non-null  object
 17  MaritalStatus         18361 non-null  object
 18  HomeOwnerFlag         18361 non-null  int64
 19  NumberCarsOwned       18361 non-null  int64
 20  NumberChildrenAtHome  18361 non-null  int64
 21  TotalChildren         18361 non-null  int64
 22  YearlyIncome          18361 non-null  int64
 23  LastUpdated           18361 non-null  object
dtypes: int64(6), object(18)
memory usage: 3.4+ MB

In [9]:
customers.columns

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'LastUpdated'],
      dtype='object')

In [10]:
sales = pd.read_csv("AWSales.csv")
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18355 entries, 0 to 18354
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     18355 non-null  int64
 1   BikeBuyer      18355 non-null  int64
 2   AvgMonthSpend  18355 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 430.3 KB

In [11]:
df = customers.merge(sales,on = 'CustomerID',how  = "inner")

In [12]:
df

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,M,M,1,3,0,1,81916,2017-03-06,1,50.97
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,M,M,1,2,1,2,81076,2017-03-06,1,53.11
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,F,S,0,3,0,0,86387,2017-03-06,1,54.08
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,M,M,1,2,1,2,61481,2017-03-06,1,56.93
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,M,S,1,1,0,0,51804,2017-03-06,1,55.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,NaN,Grace,C,Bailey,NaN,6627 Camelback Ct.,NaN,Coronado,California,...,F,M,0,1,0,2,52953,2017-03-06,0,48.14
18357,11459,NaN,Tasha,NaN,Deng,NaN,9627 Kendall Rd,NaN,Port Macquarie,New South Wales,...,F,S,0,2,0,0,60992,2017-03-06,1,50.23
18358,12160,NaN,Jaclyn,NaN,Zhang,NaN,4364 Viera Avenue,NaN,Beaverton,Oregon,...,F,S,0,2,0,0,51859,2017-03-06,1,49.56
18359,14353,NaN,Erin,I,Reed,NaN,3866 Mt. Everest Court,NaN,Vancouver,British Columbia,...,F,S,0,0,0,0,87177,2017-03-06,0,51.42
18360,16676,NaN,Amanda,NaN,Perry,NaN,7870 Orangewood Dr.,NaN,Grossmont,California,...,F,M,1,2,0,0,136856,2017-03-06,1,52.27

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   Title                 101 non-null    object
 2   FirstName             18361 non-null  object
 3   MiddleName            10572 non-null  object
 4   LastName              18361 non-null  object
 5   Suffix                3 non-null      object
 6   AddressLine1          18361 non-null  object
 7   AddressLine2          311 non-null    object
 8   City                  18361 non-null  object
 9   StateProvinceName     18361 non-null  object
 10  CountryRegionName     18361 non-null  object
 11  PostalCode            18361 non-null  object
 12  PhoneNumber           18361 non-null  object
 13  BirthDate             18361 non-null  object
 14  Education             18361 non-null  object
 15  Occupation            18361 non-null  object
 16  Gender                18361 non-null  object
 17  MaritalStatus         18361 non-null  object
 18  HomeOwnerFlag         18361 non-null  int64
 19  NumberCarsOwned       18361 non-null  int64
 20  NumberChildrenAtHome  18361 non-null  int64
 21  TotalChildren         18361 non-null  int64
 22  YearlyIncome          18361 non-null  int64
 23  LastUpdated           18361 non-null  object
 24  BikeBuyer             18361 non-null  int64
 25  AvgMonthSpend         18361 non-null  float64
dtypes: float64(1), int64(7), object(18)
memory usage: 3.6+ MB

In [14]:
selected = df[['Education','BirthDate','Occupation','Gender','MaritalStatus',
                     'HomeOwnerFlag','NumberCarsOwned','NumberChildrenAtHome',
                     'TotalChildren','YearlyIncome','StateProvinceName',
                     'CountryRegionName','BikeBuyer']]
selected

,Education,BirthDate,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,StateProvinceName,CountryRegionName,BikeBuyer
0,Bachelors,1987-11-13,Clerical,M,M,1,3,0,1,81916,New South Wales,Australia,1
1,Partial College,1972-07-21,Clerical,M,M,1,2,1,2,81076,British Columbia,Canada,1
2,Bachelors,1985-11-09,Clerical,F,S,0,3,0,0,86387,California,United States,1
3,Partial College,1977-10-18,Skilled Manual,M,M,1,2,1,2,61481,England,United Kingdom,1
4,Partial College,1975-02-05,Skilled Manual,M,S,1,1,0,0,51804,Nordrhein-Westfalen,Germany,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,Graduate Degree,1990-11-11,Skilled Manual,F,M,0,1,0,2,52953,California,United States,0
18357,Bachelors,1992-10-13,Skilled Manual,F,S,0,2,0,0,60992,New South Wales,Australia,1
18358,Partial College,1983-11-24,Skilled Manual,F,S,0,2,0,0,51859,Oregon,United States,1
18359,High School,1995-06-15,Clerical,F,S,0,0,0,0,87177,British Columbia,Canada,0
18360,Graduate Degree,1986-03-26,Professional,F,M,1,2,0,0,136856,California,United States,1

In [49]:
selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Education             18361 non-null  object
 1   BirthDate             18361 non-null  object
 2   Occupation            18361 non-null  object
 3   Gender                18361 non-null  object
 4   MaritalStatus         18361 non-null  object
 5   HomeOwnerFlag         18361 non-null  int64
 6   NumberCarsOwned       18361 non-null  int64
 7   NumberChildrenAtHome  18361 non-null  int64
 8   TotalChildren         18361 non-null  int64
 9   YearlyIncome          18361 non-null  int64
 10  StateProvinceName     18361 non-null  object
 11  CountryRegionName     18361 non-null  object
 12  BikeBuyer             18361 non-null  int64
dtypes: int64(6), object(7)
memory usage: 1.8+ MB

In [50]:
selected.groupby("BikeBuyer")['YearlyIncome'].mean()

BikeBuyer
0    64261.986877
1    79653.968710
Name: YearlyIncome, dtype: float64

In [60]:
(selected.groupby('NumberCarsOwned')['BikeBuyer'].mean() * 100)

NumberCarsOwned
0    57.906799
1    36.901408
2    72.094395
3    76.117021
4    63.636364
5    66.666667
Name: BikeBuyer, dtype: float64

In [16]:
selected['BirthDate'] = pd.to_datetime(selected['BirthDate'])
selected['Age'] = 2024 - selected['BirthDate'].dt.year

selected.groupby('BikeBuyer')['Age'].describe()

C:\Users\Yamini Ahuja\AppData\Local\Temp\ipykernel_11744\4248111332.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected['BirthDate'] = pd.to_datetime(selected['BirthDate'])
C:\Users\Yamini Ahuja\AppData\Local\Temp\ipykernel_11744\4248111332.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected['Age'] = 2024 - selected['BirthDate'].dt.year

             count       mean        std   min   25%   50%   75%   max
BikeBuyer
0           8230.0  41.211665  11.562514  24.0  32.0  39.0  49.0  94.0
1          10131.0  43.415063  10.887850  24.0  35.0  42.0  50.0  91.0